/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select {
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
.btn-group {
	margin-bottom: 0 !important;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html {
	font-family: sans-serif;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.funnel-create, .funnel-show {
	display: none;
}

.funnel-create.show, .funnel-show.show {
	display: block;
}

.funnel-create {
	width: 600px;
	margin: 0 auto;
}

.funnel-create__header {
	background-color: #EDEDF9;
	padding: 20px;
	font-weight: bold;
	color: #525363;
}

.name-container, .create-container, .step-container {
	background-color: #f0f0f6;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #cbccdb;
}

.step-container .btn-group {
	float: right;
}

.step-container .step-index {
	font-size: 20px;
	margin-top: 8px;
	float: left;
}

input[name="name"] {
	width: 100%;
	padding: 7px;
}

.add-step {
	width: 100%;
	border-radius: 0;
}

.name {
	padding: 10px;
}

.top {
	margin-bottom: 30px;
}

.middle {
	width: 600px;
	height: 200px;
	position: relative;
}

.y-axis {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
}

.y-value {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 16px;
	margin-top: -8px;
}

.y-value:nth-child(5) {
	top: 14%;
}

.y-value:nth-child(4) {
	top: 32%;
}

.y-value:nth-child(3) {
	top: 50%;
}

.y-value:nth-child(2) {
	top: 68%;
}

.y-value:nth-child(1) {
	top: 86%;
}

.graph {
	position: absolute;
	top: 0;
	left: 50px;
	bottom: 0;
	right: 0;
	padding-left: 20px;
}

.bar, .space {
	display: inline-block;
	position: relative;
}

.space {
	height: 100%;
	width: 70px;
}

.bar {
	background-color: blue;
}

.eventName {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -40px;
}

.conversion {
	position: absolute;
	top: 75%;
	width: 100%;
	text-align: center;
}

.numEvents {
	position: absolute;
	top: -20px;
	width: 100%;
	text-align: center;
}

.completion-rate {
	display: inline-block;
}