/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select {
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
.bootstrap-select {
	width: 150px !important;
}
.btn-group {
	margin-bottom: 0 !important;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html {
	font-family: sans-serif;
}

/* Overall styles*/

.container {
	width: 1000px;
	margin: 0 auto;
}

.container.small {
	width: 600px;
}

.nav {
	margin: 20px 0;
}

.header {
	background-color: #EDEDF9;
	padding: 20px;
	font-weight: bold;
	color: #525363;
}

.funnel-create, .funnel-show, .retention-show {
	display: none;
}

.funnel-create.show, .funnel-show.show, .retention-show.show {
	display: block;
}

/* Global styles */

.date-container input {
	width: 98px;
	padding: 7px;
}

.date-container, .days-container {
	display: inline-block;
}

.two-digit-container {
	margin-right: 10px;
}

.two-digits-container {
	margin-left: 10px;
	display: inline-block;
}

.two-digits {
	padding: 7px;
	width: 37px;
}

/* Funnel create */

.name-container, .create-container, .step-container {
	background-color: #f0f0f6;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #cbccdb;
}

.step-container .btn-group {
	float: right;
}

.step-container .step-index {
	font-size: 20px;
	margin-top: 8px;
	float: left;
}

input[name="name"] {
	width: 100%;
	padding: 7px;
}

.add-step {
	width: 100%;
	border-radius: 0;
}

/* Funnel show */

.funnel-inputs {
	float: left;
}

.completion-rate {
	margin-top: 10px;
	float: right;
}

.funnel-show .top {
	background-color: #f0f0f6;
	padding: 20px;
	border-top: 1px solid #cbccdb;
}

.funnel-show .middle {
	width: 100%;
	height: 400px;
	position: relative;
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: #f7f8fc;
	border-top: 1px solid #cbccdb;
}

.funnel-show .graph-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.funnel-show .y-axis {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
	border-right: 1px solid #cbccdb;
}

.funnel-show .y-axis .y-value {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 16px;
	margin-top: -8px;
}

.funnel-show .y-axis .y-value:nth-child(5) {
	top: 14%;
}

.funnel-show .y-axis .y-value:nth-child(4) {
	top: 32%;
}

.funnel-show .y-axis .y-value:nth-child(3) {
	top: 50%;
}

.funnel-show .y-axis .y-value:nth-child(2) {
	top: 68%;
}

.funnel-show .y-axis .y-value:nth-child(1) {
	top: 86%;
}

.funnel-show .graph {
	position: absolute;
	top: 0;
	left: 50px;
	bottom: 0;
	right: 0;
	padding-left: 20px;
	border-bottom: 1px solid #cbccdb;
}

.graph .bar, .graph .space {
	display: inline-block;
	position: relative;
}

.graph .space {
	height: 100%;
	width: 100px;
}

.space .conversion {
	position: absolute;
	top: 75%;
	width: 100%;
	text-align: center;
}


.graph .bar {
	background-color: #67b0e6;
}

.bar .eventName {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -40px;
}

.bar .numEvents {
	position: absolute;
	top: -20px;
	width: 100%;
	text-align: center;
}

/*Retention stuff starts here*/

.eventType-container, .range-container {
	text-align: center;
	margin-bottom: 20px;
}

.box {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 1px solid black;
}

.dates-column-container, .events-column-container, .retention-container {
	float: left;
  text-align: center;
}

.dates-column-container .date-title, .events-column-container .event-title,
.retention-container .retention-title {
  padding: 10px;
}

.dates div, .events div {
  padding: 10px;
  border: 1px solid black;
}

.axis div {
  display: inline-block;
  width: 37px;
}

.retention {
  border: 1px solid black;
  display: inline-block;
  text-align: left;
}