/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select {
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
input {
	color: rgba(0,0,0,0.6);
}
.bootstrap-select {
	width: 135px !important;
}
.btn-group {
	margin-bottom: 0 !important;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html {
	font-family: sans-serif;
}

/* Overall styles*/

.container {
	width: 1032px;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid #ddd !important;
}

.header {
	padding: 18px 18px 0 18px;
}

.funnel-show, .retention-show {
	display: none;
}

.funnel-show.show, .retention-show.show {
	display: block;
	border: 1px solid #ddd;
}

/* Global styles */

.date-container input {
	width: 98px;
	padding: 7px;
}

.date-container, .days-container {
	display: inline-block;
	margin-right: 10px;
}

.two-digits-container {
	display: inline-block;
}

.two-digits {
	padding: 7px;
	width: 37px;
}

.calculate-funnel, .calculate-retention {
	margin-left: 10px;
}

.spinner {
	height: 20px;
	position: relative;
	top: 5px;
	left: 5px;
	display: none;
}

.spinner.rendered {
	display: inline-block;
}


/* Funnel show */

.funnel-inputs {
	float: left;
}


.step-container {
	display: inline-block;
}

.step-container:nth-child(5) .next-step {
	display: none;
}

.remove-step {
	display: inline-block;
	position: relative;
	top: 3px;
	margin-left: 5px;
	color: #EF9DA9;
	opacity: 0.65;
}

.remove-step:hover {
	opacity: 1;
	cursor: pointer;
}

.next-step {
	display: inline-block;
	position: relative;
	top: 3px;
	margin: 0 15px;
	color: #bbb;
}

.add-step {
	display: inline-block;
	position: relative;
	top: 3px;
	color: green;
	opacity: 0.65;
}

.add-step:hover {
	opacity: 1;
	cursor: pointer;
}

.funnel-steps {
	display: inline-block;
}

.completion-rate {
	position: relative;
	top: 62px;
	font-size: 18px;
	float: right;
}

.funnel-show .top {
	padding: 20px;
}

.funnel-show .middle {
	width: 100%;
	height: 400px;
	position: relative;
	padding-top: 25px;
	padding-bottom: 60px;
	display: none;
}

.funnel-show .middle.rendered {
	display: block;
}

.funnel-show .graph-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.funnel-show .y-axis {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 70px;
	border-right: 1px solid #cbccdb;
}

.funnel-show .y-axis .y-value {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 16px;
	margin-top: -8px;
	color: #aaa;
}

.funnel-show .y-axis .y-value:nth-child(5) {
	top: 14%;
}

.funnel-show .y-axis .y-value:nth-child(4) {
	top: 32%;
}

.funnel-show .y-axis .y-value:nth-child(3) {
	top: 50%;
}

.funnel-show .y-axis .y-value:nth-child(2) {
	top: 68%;
}

.funnel-show .y-axis .y-value:nth-child(1) {
	top: 86%;
}

.funnel-show .graph {
	position: absolute;
	top: 0;
	left: 70px;
	bottom: 0;
	right: 20px;
	padding-left: 20px;
	border-bottom: 1px solid #cbccdb;
}

.graph .bar, .graph .space {
	display: inline-block;
	position: relative;
}

.graph .space {
	height: 100%;
	width: 110px;
}

.space .conversion-container {
	position: absolute;
	top: 75%;
	width: 100%;
	text-align: center;
}

.space .conversion-container .conversion {
	display: inline-block;
	color: white;
	background: #b1bad0;
	padding: 8px 4px 8px 10px;
	font-size: 14px;
	position: relative;
	opacity: 0.8;
	margin-right: 10px;
}

.space .conversion-container .conversion:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 100%;
	border-top: 15px solid transparent;
	border-left: 10px solid #b1bad0;
	border-bottom: 15px solid transparent;
}

.graph .bar {
	background-color: #67b0e6;
}

.bar .eventName {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -35px;
	color: #aaa;
}

.bar .numEvents {
	position: absolute;
	top: -20px;
	width: 100%;
	text-align: center;
	color: #999;
	font-weight: bold;
}

/*Retention stuff starts here*/

.retention-show {
	padding: 20px;
}

.range-container {
	margin-top: 20px;
}

.dates-column-container, .events-column-container {
	border-right: 1px solid #ddd;
}

.dates-column-container, .events-column-container, .retention-container {
  float: left;
}

.dates-column-container .date-title, .events-column-container .event-title,
.retention-container .retention-title {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.dates div, .events div {
  padding: 10px 20px;
  border: 1px solid transparent;
}

.axis div {
  display: inline-block;
  width: 76px;
  text-align: center;
}

.retention .box {
  display: inline-block;
  width: 76px;
  padding: 10px;
  text-align: center;
  color: white;
}

.retention {
  display: inline-block;
  text-align: left;
}

.table-container {
	border: 1px solid #ddd;
	margin: 20px auto 0;
	display: none;
}

.table-container.rendered {
	display: inline-block;
}

.gradient-1 {
	background-color: #9CC5FF;
	border: 1px solid #9CC5FF;
}

.gradient-2 {
	background-color: #8ABAFF;
	border: 1px solid #8ABAFF;
}

.gradient-3 {
	background-color: #75AFFF;
	border: 1px solid #75AFFF;
}

.gradient-4 {
	background-color: #61A3FF;
	border: 1px solid #61A3FF;
}

.gradient-5 {
	background-color: #579DFF;
	border: 1px solid #579DFF;
}

.gradient-6 {
	background-color: #4A95FF;
	border: 1px solid #4A95FF;
}

.gradient-7 {
	background-color: #388BFF;
	border: 1px solid #388BFF;
}

.gradient-8 {
	background-color: #247FFF;
	border: 1px solid #247FFF;
}

.gradient-9 {
	background-color: #1777FF;
	border: 1px solid #1777FF;
}

.gradient-10 {
	background-color: #0D71FF;
	border: 1px solid #0D71FF;
}
